h1{
    margin: 25px;
    color: var(--primary-color);
}

h2, h6{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
}

h2{
    font-size: 50px;
}

h6{
    font-size: 20px;
}

h3{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#contacticons{
    margin-top: 2%;
    width: 10%;
}
